scopeName: 'source.basic'
name: 'BASIC'
fileTypes: [ 'bas' ]
patterns: [
  {
    # line number definition
    match: '^\\s*\\d+'
    name: 'entity.name.tag.basic'
  }
  {
    # line number reference
    match: '\\b((?i)THEN|ELSE|GO\\s*TO|GOSUB)\\s*(\\d+)'
    captures:
      1: name: 'keyword.control.basic'
      2: name: 'entity.name.tag.basic'
  }
  {
    # number
    match: '\\b(?:\\d\\.|\\d+\\.\\d+|\\.\\d+|\\d+)(?:[Ee][-+]?\\d+)?\\b'
    name: 'constant.numeric.basic'
  }
  {
    # string
    match: '"[^"]*"'
    name: 'string.quoted.double.basic'
  }
  {
    # comment
    match: '(?i:REM.*)'
    name: 'comment.line.basic'
  }
  {
    # flow control statement
    match: '\\b(?i:FOR|NEXT|IF|THEN|ELSE|GO\\s*TO|GOSUB)\\b'
    name: 'keyword.control.basic'
  }
  {
    # other statement
    match: '\\b(?i:\\?|\\&|\\!|\'|ABSOLUTE|ACCESS|AS|BASE|BEEP|BLOAD|BSAVE|CALL|CASE|CHAIN|CHDIR|CIRCLE|CLEAR|CLOSE|CLS|COLOR|COM|COMMON|CONST|DATA|DATE\\$|DECLARE|DEF|DEFDBL|DEFINT|DEFLNG|DEFSNG|DEFSTR|DIM|DO|DRAW|ELSE|END|ENVIRON|ERASE|ERROR|EXIT|FIELD|FILES|FOR|FUNCTION|GET|GOSUB|GOTO|HOME|IF|INPUT|INPUT#|IOCTL|KEY|KILL|LET|LINE|LOCATE|LOCK|LOOP|LPRINT|LSET|MID\\$|MKDIR|NAME|NEW|NEXT|ON|OPEN|OPTION|OUT|PAINT|PALETTE|PCLEAR0|PCLEAR1|PCOPY|PEN|PLAY|PMAP|PMODE0|POKE|PRESET|PRINT|PRINT#|PSET|PUT|RANDOMIZE|READ|REDIM|REM|RESET|RESTORE|RESUME|RETURN|RMDIR|RSET|RUN|SCREEN|SEEK|SELECT|SHARED|SHELL|SLEEP|SOUND|SOUNDRND|STATIC|STOP|STRIG|SUB|SWAP|SYSTEM|THEN|TIME\\$|TIMER|TROFF|TRON|TYPE|UNLOCK|USING|VIEW|WAIT|WEND|WHILE|WIDTH|WINDOW|WRITE)\\b'
    name: 'entity.name.type.basic'
  }
  {
    # function
    match: '\\b(?i:ABS|ASC|ATN|BIN\\$|BRK|CDBL|CHR\\$|CINT|CLNG|COMMAND\\$|COS|CSNG|CSRLIN|CTL|CVD|CVDMBF|CVI|CVL|CVS|CVSMBF|D2R|DATE\\$|ENVIRON\\$|EOF|ERDEV|ERDEV\\$|ERL|ERR|EXP|FILEATTR|FIX|FRE|FREEFILE|HEIGHT|HEX\\$|INKEY\\$|INP|INPUT\\$|INSTR|INT|IOCTL\\$|ITM|LAFT\\$|LBOUND|LCASES\\$|LEFT\\$|LEN|LG|LIN|LN|LOC|LOF|LOG|LOG10|LPOS|LTRIM\\$|MID\\$|MKD\\$|MKDMBF\\$|MKI\\$|MKL\\$|MKS\\$|MKSMBF\\$|NINT|NUM|OCT\\$|PEEK|PEN|POINT|POS|R2D|REC|RIGHT\\$|RND|RTRIM\\$|SADD|SCREEN|SEEK|SETMEM|SGN|SIN|SPA|SPACE\\$|SPC|SPC\\$|SQR|SQRT|STICK|STR\\$|STRIG|STRING\\$|SYS|TAB|TAB\\$|TAN|TIM|TIME\\$|TIMER|TYP|UBOUND|UCASE\\$|UPS\\$|VAL|VALPTR|VALSEG|VARPTR|VARPTR\\$|VARSEG|WIDTH)\\b'
    name: 'entity.name.function.basic'
  }
#  {
#    # other function
#    match: '\\b(\\w+[\\$%!]?)\\('
#    captures:
#      1: name: 'entity.name.function.basic'
#  }
  {
    # operator
    match: '\\^|\\+|-|\\*\\*|\\*|/|=|<>|<=|=<|>=|=>|<|>|\\b(?i:MOD|NOT|AND|OR)\\b'
    name: 'keyword.operator.basic'
  }
]
